* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
}

.conteiner {
    width: 70%;
    margin-inline: auto;
}

.conteinercards {
    margin-inline: -1em;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* -------- TITOLO -------- */

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #E52868;
}

#subtitle {
    text-align: center;
    margin-bottom: 20px;
}



/* -------- SEZIONI -------- */

section {
    width: calc(100% / 3 - 2 * 1rem);
    height: 100px;
    margin: 1.5em 1em;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px black;
    float: left;
}

section:hover {
    cursor: grab;
    box-shadow: 0 0 20px #E52868;
}

/* FOTO */
section img {
    height: 100%;
    width: 100px;
    margin-right: 10px;
    object-fit: cover;
    float: left;
}

/* TESTO */
section .nome {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: .5em;
}

section .info {
    font-size: .8rem;
    margin-top: .8em;
    letter-spacing: 0.5px;
}


section a {
    color: #33B2E7;
    text-decoration: none;
}